APP_ENV=local

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=cloudlab
DATABASE_USER=cloudlab
DATABASE_PASSWORD=cloudlab

AWS_REGION=ap-southeast-1
AWS_ENDPOINT_URL=http://localhost:4566

S3_BUCKET=cloud-lab
SQS_QUEUE=cloud-lab-queue