.venv/
/venv/

__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

.env

.idea/
.vscode/

*.log

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars

coverage.xml
htmlcov/

dist/
build/
*.egg-info/